nav{
    background-color: rgb(156, 223, 235);
    color:rgb(180, 83, 45);
}
li{
    list-style: none;
}
nav{
    position: fixed;
    width: 100%;
    top:0;
}
ul{
    display:flex;
    gap: 25px;
    justify-content: right ;
}
